<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{sala.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{sala.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/salas}" class="btn btn-secondary">[[#{sala.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('sala')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='sala', field='idSala', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='sala', field='disponibilidad', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='sala', field='nombreSala', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='sala', field='numeroSala', required=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='sala', field='plantaSala', required=true, type='number')}" />
                <input type="submit" th:value="#{sala.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
