<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{especialidad.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{especialidad.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/especialidads}" class="btn btn-secondary">[[#{especialidad.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('especialidad')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='especialidad', field='idEspecialidad', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='especialidad', field='nombreEspecialidad', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='especialidad', field='descripcion', type='textarea')}" />
                <input type="submit" th:value="#{especialidad.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
